<center><h2>Tweets!</h2>

<% @tweets.each do |tweet| %>
  <p class="size-post"><strong class="color"><%= tweet.user.username %>:</strong> <stong> <%= tweet.status %></strong></p>
<% end %><center>





